<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src = "/scripts/helpers.js"></script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/404.css">
        <link rel="stylesheet" href="/styles/universal.css">
        <title>404 | MultiSnake Tournaments</title>
    </head>
    <body>
        <div class="404">
            {% include "nav.njk" %}
            <div class="main">
                <div class="left">
                    <div class="_404-title">Uh Oh!</div>
                    <div class="_404-blurb">404- This page does not exist</div>
                </div>
                <div class="right">
                    <img class="oig-1" src="/assets/OIG.jpg"/>
                </div>
            </div>

            <div id="notif-box"></div>
        </body>
    </html>