<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src = "/scripts/helpers.js"></script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/leaderboard.css">
        <link rel="stylesheet" href="/styles/universal.css">

        <title>MultiSnake Tournaments</title>
    </head>
    <body>
        <div class="leaderboard">
            <div class="navbar">
                <div class="left-link-group">
                    <div class="link">
                        <div class="link2">Home</div>
                    </div>
                    <div class="link">
                        <div class="link2">Discord</div>
                    </div>
                </div>
                <div class="right-link-group">
                    <div class="link">
                        <div class="link2">All Games</div>
                    </div>
                    <div class="link">
                        <div class="link2">Leaderboard</div>
                    </div>
                    <div class="link">
                        <div class="link2">Sign up</div>
                    </div>
                    <div class="link">
                        <div class="link2">Log in</div>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="top-row-leaders">
                    <div class="title-leaders">Leaderboard</div>
                    <div class="leader-login-warning">
        Elos update after a visit to that users profile. This means that
        unactive players who never log in will not rise as they gain elo.
      </div>
                </div>
                <div class="leader-table">
                    <div class="leaderboard-first">
                        <div class="fname">SoJS</div>
                        <div class="elo">400</div>
                        <div class="games-played">918 games played</div>
                    </div>
                    <div class="leaderboard-second">
                        <div class="sname">SoJS</div>
                        <div class="elo">400</div>
                        <div class="games-played">918 games played</div>
                    </div>
                    <div class="leaderboard-third">
                        <div class="tname">SoJS</div>
                        <div class="elo">400</div>
                        <div class="games-played">918 games played</div>
                    </div>
                    <div class="leaderboard-row">
                        <div class="name">SoJS</div>
                        <div class="elo">400</div>
                        <div class="games-played">918 games played</div>
                    </div>
                    <div class="leaderboard-row">
                        <div class="name">SoJS</div>
                        <div class="elo">400</div>
                        <div class="games-played">918 games played</div>
                    </div>
                    <div class="leaderboard-row">
                        <div class="name">SoJS</div>
                        <div class="elo">400</div>
                        <div class="games-played">918 games played</div>
                    </div>
                    <div class="leaderboard-row">
                        <div class="name">SoJS</div>
                        <div class="elo">400</div>
                        <div class="games-played">918 games played</div>
                    </div>
                    <div class="leaderboard-row">
                        <div class="name">SoJS</div>
                        <div class="elo">400</div>
                        <div class="games-played">918 games played</div>
                    </div>
                    <div class="leaderboard-row">
                        <div class="name">SoJS</div>
                        <div class="elo">400</div>
                        <div class="games-played">918 games played</div>
                    </div>
                    <div class="leaderboard-row">
                        <div class="name">SoJS</div>
                        <div class="elo">400</div>
                        <div class="games-played">918 games played</div>
                    </div>
                    <div class="leaderboard-row">
                        <div class="name">SoJS</div>
                        <div class="elo">400</div>
                        <div class="games-played">918 games played</div>
                    </div>
                    <div class="leaderboard-row">
                        <div class="name">SoJS</div>
                        <div class="elo">400</div>
                        <div class="games-played">918 games played</div>
                    </div>
                    <div class="leaderboard-row">
                        <div class="name">SoJS</div>
                        <div class="elo">400</div>
                        <div class="games-played">918 games played</div>
                    </div>
                    <div class="leaderboard-row">
                        <div class="name">SoJS</div>
                        <div class="elo">400</div>
                        <div class="games-played">918 games played</div>
                    </div>
                    <div class="leaderboard-row">
                        <div class="name">SoJS</div>
                        <div class="elo">400</div>
                        <div class="games-played">918 games played</div>
                    </div>
                    <div class="leaderboard-row">
                        <div class="name">SoJS</div>
                        <div class="elo">400</div>
                        <div class="games-played">918 games played</div>
                    </div>
                    <div class="leaderboard-row">
                        <div class="name">SoJS</div>
                        <div class="elo">400</div>
                        <div class="games-played">918 games played</div>
                    </div>
                    <div class="leaderboard-row">
                        <div class="name">SoJS</div>
                        <div class="elo">400</div>
                        <div class="games-played">918 games played</div>
                    </div>
                    <div class="leaderboard-row">
                        <div class="name">SoJS</div>
                        <div class="elo">400</div>
                        <div class="games-played">918 games played</div>
                    </div>
                    <div class="leaderboard-row">
                        <div class="name">SoJS</div>
                        <div class="elo">400</div>
                        <div class="games-played">918 games played</div>
                    </div>
                    <div class="leaderboard-row">
                        <div class="name">SoJS</div>
                        <div class="elo">400</div>
                        <div class="games-played">918 games played</div>
                    </div>
                    <div class="leaderboard-row">
                        <div class="name">SoJS</div>
                        <div class="elo">400</div>
                        <div class="games-played">918 games played</div>
                    </div>
                </div>
            </div>
        </div>

        <div id="notif-box"></div>
    </body>
</html>