<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src = "/scripts/helpers.js"></script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/login.css">
        <link rel="stylesheet" href="/styles/universal.css">
        <script src = "/scripts/crypto.js"></script>
        
        <title>MultiSnake Tournaments</title>
    </head>
    <body>

        <div class="login">
            {% include "nav.njk" %}
            <main class="main">
                <div class="center-blob">
                    <h1 class="big-login">Log In</h1>
                    <p class="byline-login">
        Login to your multisnake account to view stats and upcoming games
      </p>
                    <div class="form">
                        <div class="form-group">
                            <div class="username-text">Username</div>
                            <input class="username">
                        </div>
                        <div class="form-group">
                            <div class="password-text">Password</div>
                            <input class="password" type = "password">
                        </div>
                        <button class="login-button">
                            <div class="log-in">Log in</div>
                        </button>
                    </div>
                </div>
            </main>
        </div>
        <script src = "/scripts/login.js"></script>
        <div id="notif-box"></div>
    </body>
</html>