<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src = "/scripts/helpers.js"></script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/noactiveTourney.css">
        <link rel="stylesheet" href="/styles/activeTourney.css">
        <link rel="stylesheet" href="/styles/universal.css">
        <title>MultiSnake Tournaments</title>
    </head>
    <body>
        <div class="no-active-tourney">
            {% include "nav.njk" %}
            <div class="main">
                <h1 class="multi-snake-tournaments">MultiSnake Tournaments</h1>
                {% if t %}
                <script>
                    setInterval(count, 500);
                    function count() {
                        var countDownDate = parseInt("{{ t.start_at }}");
                        var now = new Date().getTime();
                        var timeleft = countDownDate - now;

                        var days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
                        var hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                        var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
                        var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);

                        var d = document.getElementById("d");
                        var h = document.getElementById("h");
                        var m = document.getElementById("m");
                        var s = document.getElementById("s");

                        d.innerHTML = days;
                        h.innerHTML = hours;
                        m.innerHTML = minutes;
                        s.innerHTML = seconds;
                    }
                </script>
                <p class="timer">
                    Tourney starts in
                </p>
                <p class = "timer">
                    <span id = "d"></span>&nbsp;days,&nbsp;<span id = "h"></span>&nbsp;hours, &nbsp;<span id = "m"></span>&nbsp;minutes, &nbsp;<span id = "s"></span>&nbsp;seconds
                </p>
                <a class="join-the-tournament" href = "/join/{{ t.uid }}">Join the tournament</a>
                <p class="_156-players-780-prize">{{ t.players.length }} Players | ${{ t.prize }} Prize</p>
                {% else %}
                <p class="timer">
                    No tournaments scheduled. Check back later
                </p>
                {% endif %}
            </div>
        </div>
        <div id = "notif-box"></div>
    </body>
</html>