<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <script src="/scripts/helpers.js"></script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/private_user.css">
        <link rel="stylesheet" href="/styles/universal.css">
        <title>Account | MultiSnake Tournaments</title>
        <script>
            var timers = {};
        </script>
    </head>

    <body>
        <div class="private-view">
            {% include "nav.njk" %}
            <div class="main">
                <div class="user-data">
                    <div class="username-and-elo">
                        <h1 class="username">{{ username }}</h1>
                        <p class="elo">({{ elo }})</p>
                    </div>
                    <p class="uid">{{ uid }}</p>
                    <p>
                        <a class="view-public-profile" href="/account/{{ uid }}">View public profile</a>
                    </p>
                    {% if not verified %}
                        <p class = "games-won-game-played">
                            <a href = "https://multisnake.xyz/verifyEmail">Verify your account</a>
                        </p>
                    {% endif %}
                    <p class="games-won-game-played">{{ gamesWon }} games won/{{ gamesPlayed }} games played</p>
                    {# <p class="tourneys-won-tourneys-played">
                    {{ tourneysWon }} tourneys won/{{ tourneysPlayed }} tourneys played
                </p> #}
                </div>
                <div class="false-hr"></div>
                <h1 class = "upcoming_games">Upcoming Games</h1>
                {% if noGamesToPlay %}
                    <p class = "base-text">No upcoming games</p>
                {% endif %}
                {% for game in games %}
                     {% if not game.passed %}
                        <div class="game-data">
                            <div class="game-number">Game #{{ game.game_number }}</div>
                            <div class = "game-players">
                                {% for player in game.players %}
                                    {{ player.username }} ({{ player.elo }}) {% if (loop.index0 != 0) %}|{% endif %}
                                {% endfor %}
                            </div>
                            {# <div class="game-players">Mollthecoder (400) | SoJS (538) | Fred (220) | Joe Mama (380)</div> #}
                            <div class="game-time">
                                <span id = "{{ loop.index }}-convert"></span></div>
                            <div class="game-link">
                                <span>
                                    <span class="game-link-span" id = "link-{{ loop.index }}">Join link will reveal in <span id = "{{ loop.index }}-jl-d"></span> days, <span id = "{{ loop.index }}-jl-h"></span> hours, <span id = "{{ loop.index }}-jl-m"></span> minutes, and <span id = "{{ loop.index }}-jl-s"></span> seconds</span>
                                </span>
                            </div>
                            <script>

                                var [days, hours, minutes, seconds] = timebetween(new Date().getTime(), {{ game.start_at }} -(3 * 60 * 1000));
                                document
                                    .getElementById("{{ loop.index }}-jl-d")
                                    .innerHTML = days;
                                document
                                    .getElementById("{{ loop.index }}-jl-h")
                                    .innerHTML = hours;
                                document
                                    .getElementById("{{ loop.index }}-jl-m")
                                    .innerHTML = minutes;
                                document
                                    .getElementById("{{ loop.index }}-jl-s")
                                    .innerHTML = seconds;
                                timers["{{ game.uid }}"] = function () {
                                    var [days, hours, minutes, seconds] = timebetween(new Date().getTime(), {{ game.start_at }} -(3 * 60 * 1000));
                                    document
                                        .getElementById("{{ loop.index }}-jl-d")
                                        .innerHTML = days;
                                    document
                                        .getElementById("{{ loop.index }}-jl-h")
                                        .innerHTML = hours;
                                    document
                                        .getElementById("{{ loop.index }}-jl-m")
                                        .innerHTML = minutes;
                                    document
                                        .getElementById("{{ loop.index }}-jl-s")
                                        .innerHTML = seconds;
                                    if ({{ game.start_at }} - new Date().getTime() <= 3 * 60 * 1000) {
                                        fetch("/get-join-link", {
                                            method: "POST",
                                            headers: {
                                                "Content-Type": "application/json"
                                            },
                                            body: JSON.stringify({game_id: "{{ game.uid }}"})
                                        })
                                            .then(r => r.json())
                                            .then((data) => {
                                                document
                                                    .getElementById("link-{{ loop.index }}")
                                                    .innerHTML = `<a href = "${data.link}">${data.link}</a>`;
                                            })
                                            .catch(console.log)
                                        } else {
                                        setTimeout(timers["{{ game.uid }}"], 1000)
                                    }
                                }
                                timers["{{ game.uid }}"]()
                            </script>
                            <div class="warning">
                                <span class="warning-span">Do not share the join link with anyone. Sharing the link with someone will result in immediate disqualification.</span>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                
                {% for t in tourneys %}
                    {% if not t.complete %}
                        {% if loop.first %}
                            <h1 class = "upcoming_games">Joined Tourneys</h1>
                        {% endif %}
                        <div class="tourney-data">
                            <h1 class="tourney-name">
                                <a href="/tourney/{{ t.uid }}" class="tourney-name-span">{{ t.name }} (Joined)</a>
                                {# <span class="tourney-name-span2">(Join)</span> #}
                            </h1>
                            <p class="tourney-players">{{ t.players.length }} Players | ${{ t.prize }} prize</p>

                            <p class="tourney-start">
                                {% if t.ongoing %}
                                     Round {{ t.round_num }}
                                {% else %}
                                  Starts in&nbsp;<span id="d{{ loop.index }}"></span>&nbsp;days,&nbsp;<span id="h{{ loop.index }}"></span>&nbsp;hours,&nbsp;<span id="m{{ loop.index }}"></span>&nbsp;minutes, and&nbsp;<span id="s{{ loop.index }}"></span>&nbsp;seconds
                                <script>
                                        setInterval(count, 500);
                                        function count() {
                                            var countDownDate = parseInt("{{ t.start_at }}");
                                            var now = new Date().getTime();
                                            var timeleft = countDownDate - now;

                                            var days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
                                            var hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                            var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
                                            var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);

                                            var d = document.getElementById("d{{ loop.index }}");
                                            var h = document.getElementById("h{{ loop.index }}");
                                            var m = document.getElementById("m{{ loop.index }}");
                                            var s = document.getElementById("s{{ loop.index }}");

                                            d.innerHTML = days;
                                            h.innerHTML = hours;
                                            m.innerHTML = minutes;
                                            s.innerHTML = seconds;
                                        }
                                    </script>
                                {% endif %}
                            </p>

                        </div>
                    {% endif %}
                {% endfor %}
                {% for t in ableToJoin %}
                    {% if not t.complete %}
                        {% if loop.first %}
                            <h1 class = "upcoming_games">Join a tourney</h1>
                        {% endif %}
                        <div class="tourney-data">
                            <h2 class="tourney-name">
                                <span>
                                    <a href="/tourney/{{ t.uid }}" class="tourney-name-span">{{ t.name }} (Click to join)</a>
                                    {# <span class="tourney-name-span2">(Join)</span> #}
                                </h2>
                                <div class="tourney-players">{{ t.players.length }} Players | ${{ t.prize }} prize</div>
                                <script>
                                    setInterval(count, 500);
                                    function count() {
                                        var countDownDate = parseInt("{{ t.start_at }}");
                                        var now = new Date().getTime();
                                        var timeleft = countDownDate - now;

                                        var days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
                                        var hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                        var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
                                        var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);

                                        var d = document.getElementById("d{{ loop.index }}");
                                        var h = document.getElementById("h{{ loop.index }}");
                                        var m = document.getElementById("m{{ loop.index }}");
                                        var s = document.getElementById("s{{ loop.index }}");

                                        d.innerHTML = days;
                                        h.innerHTML = hours;
                                        m.innerHTML = minutes;
                                        s.innerHTML = seconds;
                                    }
                                </script>
                                <div class="tourney-start">
                                    {% if t.ongoing %}
                    Round {{ t.round_num }}
                                    {% else %}
                    Starts in&nbsp;
                    <span id="d{{ loop.index }}"></span>
                    &nbsp;days,&nbsp;
                    <span id="h{{ loop.index }}"></span>
                    &nbsp;hours,
                    &nbsp;
                    <span id="m{{ loop.index }}"></span>
                    &nbsp;minutes, and&nbsp;
                    <span id="s{{ loop.index }}"></span>
                    &nbsp;seconds
                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div id="notif-box"></div>
        </body>

    </html>