<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="/scripts/helpers.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/private_user.css">
    <link rel="stylesheet" href="/styles/universal.css">
    <title>Account | MultiSnake Tournaments</title>
</head>

<body>
    <div class="private-view">
        {% include "nav.njk" %}
        <div class="main">
            <div class="user-data">
                <div class="username-and-elo">
                    <h1 class="username">{{ username }}</h1>
                    <p class="elo">({{ elo }})</p>
                </div>
                <p class="uid">{{ uid }}</p>
                <p><a class="view-public-profile" href="/account/{{ uid }}">View public profile</a></p>
                {% if not verified %}
                <p class = "games-won-game-played"><a href = "https://multisnake.xyz/verifyEmail">Verify your account</a></p>
                {% endif %}
                <p class="games-won-game-played">{{ gamesWon }} games won/{{ gamesPlayed }} games played</p>
                {# <p class="tourneys-won-tourneys-played">
                    {{ tourneysWon }} tourneys won/{{ tourneysPlayed }} tourneys played
                </p> #}
            </div>
            <div class="false-hr"></div>
            {% for game in games %}
            <div class="game-data">
                <div class="game-number">Game #{{ game.game_number }}</div>
                <div class = "game-players">{% for player in game.players %}{{ player }} (elo) {% if (loop.index0 != 0 %}|{% endif %}{% endfor %}</div>
                {# <div class="game-players">Mollthecoder (400) | SoJS (538) | Fred (220) | Joe Mama (380)</div> #}
                <script>
                    function mdy(time){
                        var date = new Date(time);
                        var string = `${date.getMonth()}.${date.getDate()}.${date.getFullYear()}`
                        return string
                    }
                    function hm(timestamp){
                        var time = new Date(timestamp);
                        return time.getHours() + ":" + time.getMinutes();
                    }
                    var timestamp = {{ game.start_at }};
                    document.getElementById("{{ loop.index }}-mdy").innerHTML = mdy(timestamp);
                    document.getElementById("{{ loop.index }}-hm").innerHTML = hm(timestamp);

                    function countdown(timestmap){
                        return [days,hours,minutes,seconds]
                    }

                </script>
                <div class="game-time"><span id ="{{ loop.index }}-mdy">MM.DD.YYYY</span> <span id = "{{ loop.index }}-hm">HH:MM</span> - In 0 days, 5 hours, 34 minutes, and 3 seconds</div>
                <div class="game-link">
                    <span>
                        <span
                            class="game-link-span">https://multisnake.xyz/play/location_bbd1b3a5-9072-4a61-ae3a-1d5f18c0e4a1?type=tourney/</span>
                        <span class="game-link-span2">Join link will reveal 3 minutes before start of the game. </span>
                        <a class="game-link-span3" href="#" onclick="location.reload()">Refresh the page to see
                            it.</a></span></span>
                </div>
                <div class="warning">
                    <span>
                        <span class="warning-span">Do not share the join link with anyone. Sharing the link with someone
                            will result in immediate disqualification. Join the game within 1 minute of the game
                            starting. Failure to do so will result in a loss</span>
                </div>
            </div>
            {% endfor %}
            {% for t in tourneys %}
            {% if not t.complete %}
            <div class="tourney-data">
                <h1 class="tourney-name">
                    <a href="/tourney/{{ t.uid }}" class="tourney-name-span">{{ t.name }} (Joined)</a>
                    {# <span class="tourney-name-span2">(Join)</span> #}
                </h1>
                <p class="tourney-players">{{ t.players.length }} Players | ${{ t.prize }} prize</p>
                <script>
                    setInterval(count, 500);
                    function count() {
                        var countDownDate = parseInt("{{ t.start_at }}");
                        var now = new Date().getTime();
                        var timeleft = countDownDate - now;

                        var days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
                        var hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                        var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
                        var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);

                        var d = document.getElementById("d{{ loop.index }}");
                        var h = document.getElementById("h{{ loop.index }}");
                        var m = document.getElementById("m{{ loop.index }}");
                        var s = document.getElementById("s{{ loop.index }}");

                        d.innerHTML = days;
                        h.innerHTML = hours;
                        m.innerHTML = minutes;
                        s.innerHTML = seconds;
                    }
                </script>
                <p class="tourney-start">{% if t.ongoing %}Round {{ t.round_num }}{% else %}Starts in&nbsp;<span
                        id="d{{ loop.index }}"></span>&nbsp;days,&nbsp;<span id="h{{ loop.index }}"></span>&nbsp;hours,
                    &nbsp;<span id="m{{ loop.index }}"></span>&nbsp;minutes, and&nbsp;<span
                        id="s{{ loop.index }}"></span>&nbsp;seconds{% endif %}</p>
            </div>
            {% endif %}
            {% endfor %}
            {% for t in ableToJoin %}
            {% if not t.complete %}
            <div class="tourney-data">
                <h2 class="tourney-name">
                    <span>
                        <a href="/tourney/{{ t.uid }}" class="tourney-name-span">{{ t.name }} (Click to join)</a>
                        {# <span class="tourney-name-span2">(Join)</span> #}
                </h2>
                <div class="tourney-players">{{ t.players.length }} Players | ${{ t.prize }} prize</div>
                <script>
                    setInterval(count, 500);
                    function count() {
                        var countDownDate = parseInt("{{ t.start_at }}");
                        var now = new Date().getTime();
                        var timeleft = countDownDate - now;

                        var days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
                        var hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                        var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
                        var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);

                        var d = document.getElementById("d{{ loop.index }}");
                        var h = document.getElementById("h{{ loop.index }}");
                        var m = document.getElementById("m{{ loop.index }}");
                        var s = document.getElementById("s{{ loop.index }}");

                        d.innerHTML = days;
                        h.innerHTML = hours;
                        m.innerHTML = minutes;
                        s.innerHTML = seconds;
                    }
                </script>
                <div class="tourney-start">
                    {% if t.ongoing %}
                    Round {{ t.round_num }}
                    {% else %}
                    Starts in&nbsp;
                    <span id="d{{ loop.index }}"></span>
                    &nbsp;days,&nbsp;
                    <span id="h{{ loop.index }}"></span>
                    &nbsp;hours,
                    &nbsp;
                    <span id="m{{ loop.index }}"></span>
                    &nbsp;minutes, and&nbsp;
                    <span id="s{{ loop.index }}"></span>
                    &nbsp;seconds
                    {% endif %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div id="notif-box"></div>
</body>

</html>