<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src = "/scripts/helpers.js"></script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/noactiveTourney.css">
        <link rel="stylesheet" href="/styles/signup.css">
        <link rel="stylesheet" href="/styles/universal.css">
        <script src = "/scripts/find_account.js" defer></script>
        <title>MultiSnake Tournaments</title>
    </head>
    <body>
        <div class="signup">
            <div class="navbar">
                <div class="left-link-group">
                    <div class="link">
                        <a href = "/" class="link2">Home</a>
                    </div>
                    <div class="link">
                        <div class="link2">Discord</div>
                    </div>
                </div>
                <div class="right-link-group">
                    <div class="link">
                        <div class="link2">All Games</div>
                    </div>
                    <div class="link">
                        <a href = "/leaderboard" class="link2">Leaderboard</a>
                    </div>
                    <div class="link">
                        <a href = "/signup" class="link2">Sign Up</a>
                    </div>
                    <div class="link">
                        <a href = "/login" class="link2">Log In</a>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="center-blob">
                    <div class="text-56">Connect Your MultiSnake Account</div>
                    <div class="seek-account">
                        <input class="username" placeholder="Email">
                        <button class="seek-button" >
                            <div class="find-account">Find Account</div>
                        </button>
                    </div>
                </div>
                <div class="results">
                    {# <div class="result-username">JOE THE DOMINATOR</div>
                    <div class="result-elo">457</div>
                    <div class="result-age">Born in 2003</div>
                    <div class="connect-button">
                        <div class="connect-account">Connect Account</div>
                    </div> #}
                </div>
            </div>
        </div>
        <div id="notif-box"></div>
    </body>
</html>