<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src = "/scripts/helpers.js"></script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/sojs_view.css">
        <link rel="stylesheet" href="/styles/universal.css">
        <title>SOJS | MultiSnake Tournaments</title>
    </head>
    <body>
        <div class="sojs-view">
            {% include "nav.njk" %}
            <div class="main">
                <div class="background">
                    <h1 class="big-green-sojs">SoJS</h1>
                </div>
                <p class="text-56">Lead dev @multisnake</p>
                <p class="text-56">Elo of {{ elo }}</p>
                <p class="text-56">{{ gamesPlayed }} games played</p>
                <p class="text-56">{{ gamesWon }} games won</p>
            </div>
        </div>

        <div id="notif-box"></div>
    </body>
</html>