<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src = "/scripts/helpers.js"></script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/sojs_view.css">
        <link rel="stylesheet" href="/styles/universal.css">
        <title>MultiSnake Tournaments</title>
    </head>
    <body>
        <div class="sojs-view">
            <div class="navbar">
                <div class="left-link-group">
                    <div class="link">
                        <div class="link2">Home</div>
                    </div>
                    <div class="link">
                        <div class="link2">Discord</div>
                    </div>
                </div>
                <div class="right-link-group">
                    <div class="link">
                        <div class="link2">All Games</div>
                    </div>
                    <div class="link">
                        <div class="link2">Leaderboard</div>
                    </div>
                    <div class="link">
                        <div class="link2">Sign up</div>
                    </div>
                    <div class="link">
                        <div class="link2">Log in</div>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="background">
                    <div class="big-green-sojs">SoJS</div>
                </div>
                <div class="text-56">Lead dev @multisnake</div>
                <div class="text-56">Elo of {{ elo }}</div>
                <div class="text-56">{{ gamesPlayed }} games played</div>
                <div class="text-56">{{ gamesWon }} games won</div>
            </div>
        </div>

        <div id="notif-box"></div>
    </body>
</html>