<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/user-card.css">

    <title>{{ username }} | MultiSnake Tournaments</title>
  </head>
  <body>
    <div class="full">
      <div class="user-info">
        <div class="user-details">
          <div class="username">{{ username }}</div>

          <div class="joined">Joined <script>
              var x = new Date({{ timestamp }});
              document.write(x.getMonth() + "." + x.getDate(0) + "." + x.getFullYear());
            </script>
          </div>

          <div class="uid">{{ uid }}</div>
        </div>

        <div class="achievments">
          <div class = "ach-1">
            <img class="achievment2" src="achievment1.png"/>
          </div>

          <div class="ach-2">
            <img class="achievment2" src="achievment2.png"/>
          </div>

          <div class="ach-3">
            <img class="achievment3" src="achievment3.png"/>
          </div>
        </div>
      </div>

      <div class="game-info">
        <div class="elo-details">
          <div class="elo">{{ elo }}</div>
        </div>

        <div class="recent-games">
          <div class="row-1">
            <div class="round-1-label">SoJS Vs YouBeenWaffled</div>

            <div class="round-1-elo">+14</div>
          </div>

          <div class="row-2">
            <div class="round-1-label">SoJS Vs Mollthecoder</div>

            <div class="round-1-elo2">-12</div>
          </div>

          <div class="row-3">
            <div class="round-1-label">SoJS Vs YouBeenWaffled</div>

            <div class="round-1-elo2">-12</div>
          </div>

          <div class="row-4">
            <div class="round-1-label">SoJS Vs YouBeenWaffled</div>

            <div class="round-1-elo">+15</div>
          </div>
        </div>
      </div>

      <div class="green-bar">
        <div class="rectangle-9"></div>
      </div>
    </div>

  </body>
</html>