.private-view,
.private-view * {
  box-sizing: border-box;
}
.private-view {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.main {
  background: #000000;
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex: 1;
  width: 100%;
  position: relative;
}
.user-data {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.username-and-elo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.username {
  color: #ffffff;
  text-align: center;
  font: 400 56px "Inter", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.elo {
  color: #5ce6aa;
  text-align: center;
  font: 400 56px "Inter", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.uid {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font: 400 18px "Inter", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.view-public-profile {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font: 400 18px "Inter", sans-serif;
  text-decoration: underline;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.games-won-game-played {
  color: #ffffff;
  text-align: center;
  font: 400 24px "Inter", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tourneys-won-tourneys-played {
  color: #ffffff;
  text-align: center;
  font: 400 24px "Inter", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.false-hr {
  background: #008000;
  align-self: stretch;
  flex-shrink: 0;
  height: 2px;
  position: relative;
}
.game-data {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.game-number {
  color: #5ce6aa;
  text-align: left;
  font: 400 24px "Inter", sans-serif;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.game-players {
  color: #ffffff;
  text-align: left;
  font: 400 24px "Inter", sans-serif;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.game-time {
  color: #ffffff;
  text-align: left;
  font: 400 24px "Inter", sans-serif;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.game-link {
  text-align: left;
  font: 400 24px "Inter", sans-serif;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.game-link-span {
  color: #ffffff;
  font: 400 24px "Inter", sans-serif;
  text-decoration: underline;
}
.game-link-span2 {
  color: #ffffff;
  font: 400 24px "Inter", sans-serif;
}
.game-link-span3 {
  color: #12b36d;
  font: 400 24px "Inter", sans-serif;
  text-decoration: underline;
}
.warning {
  color: #fff84f;
  text-align: left;
  font: 400 18px "Inter", sans-serif;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.warning-span {
  color: #fff84f;
  font: 400 18px "Inter", sans-serif;
}
.warning-span2 {
  color: #fff84f;
  font: 400 18px "Inter", sans-serif;
}
.warning-span3 {
  color: #fff84f;
  font: 400 18px "Inter", sans-serif;
}
.tourney-data {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.tourney-name {
  color: #5ce6aa;
  text-align: left;
  font: 400 24px "Inter", sans-serif;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.tourney-name-span {
  color: #5ce6aa;
  font: 400 24px "Inter", sans-serif;
}
.tourney-name-span2 {
  color: #5ce6aa;
  font: 400 24px "Inter", sans-serif;
  text-decoration: underline;
}
.tourney-name-span3 {
  color: #5ce6aa;
  font: 400 24px "Inter", sans-serif;
}
.tourney-players {
  color: #ffffff;
  text-align: left;
  font: 400 24px "Inter", sans-serif;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.tourney-start {
  color: #ffffff;
  text-align: left;
  font: 400 24px "Inter", sans-serif;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
